ipykernel
pandas
matplotlib
dputils
seaborn
nltk
textblob
spacy
plotly
flask
sqlalchemy
python-dotenv
docx2txt
pdfminer
flask-sqlalchemy
flask-migrate
python-dotenv
flask-login
pdfminer.six
scikit-learn


