{% extends 'layout/base.html' %}

{% block css %}
    <!-- Link to your custom styles.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>

    
    </style>
    
{% endblock %}

{% block content %}
<div class="container register">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmation password</label>
            <input id="confirm_password" name="cpassword" type="password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="REGISTER">
        </div>
    </form>
    <div class="register-link">
        Already have an account? <a href="/login">Login here!</a>
    </div>
</div>

{% endblock %}
{% block js %}
    <!-- Your additional JavaScript for the index page goes here -->
  
{% endblock %}

